/* FONTS */

@font-face {
	font-family: mediumcredits;
	src: url('fonts/HelveticaNeueLTStd-Md.otf'); 
}

@font-face {
	font-family: boldcredits;
	src: url('fonts/HelveticaNeueLTStd-Bd.otf'); 
}

@font-face {
	font-family: lightcredits;
	src: url('fonts/HelveticaNeueLTStd-Lt.otf'); 
}

@font-face {
	font-family: ultralightcredits;
	src: url('fonts/HelveticaNeueLTStd-UltLt.otf'); 
}


/* BODY */

body {
	margin:0;
	padding:0;
	width:1110px;
	margin:auto;
	background-color:#000000;
	color:#ffffff;
	text-align:left;
	background-image:url('images/bg.jpg');
	background-size: 100%;
	font-family: 'boldcredits';
	font-size:50px;
}

/* MAIN COMPONENTS OF WEBSITE */

/* 0. VISIBLE CONTENT */
#visiblecontent {
	display:none;
}

#normalcontent {
	display:block;
}

/* 1. HEADER */
#header {
	height:75px;
	line-height:100px;
	text-align: left;
	font-family: 'boldcredits';
	font-size:50px;
}

#headersub {
	height:30px;
	text-align: left;
	border-bottom:solid 1px #ffffff;
	font-family: 'boldcredits';
	font-size:15px;
}

#navigation ul {
	padding:0px;
}

#navigation li {
	display:inline-block;
	list-style-type:none;
}

#navigation a {
	text-decoration:none;
	color:#ffffff;
	padding:0px 5px 0px 5px;
}

/* 2. WRAPPER */

#wrapper {
	height:350px;
}

/* 3. 'PAGES' */

#home {
	margin:0px;
	padding:0px;
	display:block;
	height:215px;
	position:relative;
}

#information {
	margin:0px;
	padding:0px;
	display:none;
	height:350px;
	overflow-y:auto;
} 

#reference {
	margin:0px;
	padding:0px;
	display:none;
	height:350px;
	position:relative;
}

#produkter {
	margin:0px;
	padding:0px;
	display:none;
	height:350px;
	overflow-y:auto;
}

#kontakt {
	margin:0px;
	padding:0px;
	display:none;
	height:350px;
}

#handelsbetingelser {
	margin:0px;
	padding:0px;
	display:none;
	height:350px;
	overflow-y:auto;
}

/* 4. FOOTER */
#footer {
	height:100px;
	line-height:50px;
	border-top:solid 1px #ffffff;
	font-family: 'ultralightcredits';
	font-size:14px;
}

/* OVERLAY */
#overlay {
	display:none;
	position:relative;
	height:100%;
	width:100%;
}

#overlay2 {
	display:none;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:2;
	font-size:97px;
	font-family:'boldcredits';
	background-color:#000000;
}

/* SPECIFIC ELEMENTS */

#homegifbox {
	position:absolute;
	top:71px;
}

#homegifbox img {
	margin:0px -2px 0px -2px;
	border:none;
	z-index:-1;
}

#refgifbox {
	position:absolute;
	top:71px;
}

#refgifbox img {
	margin:0px -2px 0px -2px;
	border:none;
	z-index:-1;
}


#logo {
	font-size:97px;
	font-family:'boldcredits';
	position:relative;
	top:120px;
}



/* TEXT FORMATTING */
a {
	text-decoration:none;
	color:#ffffff;
}

.creditskontakt table th {
	font-size:16px;
	text-align:right;
	vertical-align:bottom;
	padding-bottom:3px;
	font-family: 'ultralightcredits';	
	font-weight:normal;
	letter-spacing:1px;
	text-transform:lowercase;
}

.creditskontakt table td {
	font-size:22px;
	text-align:left;
	vertical-align:bottom;

}

.credits h1 {
	font-family: 'ultralightcredits';
	text-transform:lowercase;
	font-size:16px;	
	margin-bottom:0px;
	padding-top:0px;
	font-weight:normal;
	letter-spacing:1px;
}

.credits p {
	text-transform:uppercase;
	font-size:22px;
	margin-top:0px;
}

.credits {
	margin:0px 250px 50px 250px;
}

.accord-content { 
	display: none; 
}

#playerclose {
	position:fixed;
	float:right;
	z-index:1;
	top:5px;
	right:5px;
}

#language {
	position:fixed;
	float:right;
	z-index:1;
	top:5px;
	right:5px;
	font-size:20px;	
}

#social {

}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}


/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 1110px;
    height: 208px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 100px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon-webfont.eot');
    src: url('fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon-webfont.woff') format('woff'),
         url('fonts/socicon-webfont.ttf') format('truetype'),
         url('fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}